<html>
    <head>
        <title>Go Phish!</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
        <link src="progress.js">
    </head>
    <body>

<div class="alignment">
    <input type="text" class="form__input" id="name" placeholder="Enter URL" required=""/>
    <br><br>
    <button class="button" style="text-align: center;">Submit</button>
    <br><br>
    <div class="progress">
        <div class="progress-value"></div>
      </div>
</div>   
    </body>
</html>
